<!DOCTYPE html>
<html>
	<head>
		<title>Color Game</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/colorGame.css">
		<link rel="shortcut icon" type="image/png" href="/media/favicon.png">
	</head>
		<body>
		<audio id="selectSound" src="/media/select.mp3"></audio>
		<h1>
			The Great 
			<br>
			<span>RGB Color Game</span> 
			<br>
			Highscores
		</h1>
		<div id="stripe">
			<button class="mode">Easy</button>
			<button class="mode selected">Normal</button>
			<button class="mode ">Hard</button>
			<a id="again" href="/">PLAY AGAIN</a></span>
		</div>
			<div id="container">
				<table id="highscores">
					<thead>
						<tr>
							<th>Player Name</th>
							<th>Score</th>
						</tr>
					</thead>
				<% if (playersEasy.length > 0) { %>
					<% playersEasy.forEach(function(player){%>
						<% var name = player.playername; %>
						<% var score = player.score; %>
						<tr class="<%=player.difficulty%>">
							<td><%=name%></td>
							<td><%=score%></td>
						</tr>
					<%});%>
				<%}%>
				<% if (playersNormal.length > 0) { %>
					<% playersNormal.forEach(function(player){%>
						<% var name = player.playername; %>
						<% var score = player.score; %>
						<tr class="<%=player.difficulty%>">
							<td><%=name%></td>
							<td><%=score%></td>
						</tr>
					<%});%>
				<%}%>
				<% if (playersHard.length > 0) { %>
					<% playersHard.forEach(function(player){%>
						<% var name = player.playername; %>
						<% var score = player.score; %>
						<tr class="<%=player.difficulty%>">
							<td><%=name%></td>
							<td><%=score%></td>
						</tr>
					<%});%>
				<%}%>
				</table>
			</div>
		<script type="text/javascript" src="/scripts/scores.js"></script>
	</body>
</html>